* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-btn {
  padding: 12px 24px;
  background: #c65607;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.custom-btn:hover {
  background: #e46409;
  transition: all 0.2s ease-in-out;
}
a.custom-btn {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.project .card:before {
  background: rgba(0, 0, 0, 0.7) !important;
}
/* Portfolio page */
.portfolio-title {
  margin-top: 76px;
}
